<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.treesapv2new">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/treesap_icon_1024"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/round_icon_treesap"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/ripple_overlay" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Big_Red_Button"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="TreeSapV2New" />
        <activity
            android:name=".Cereal_Box_Activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="TreeSapV2New" />
        <activity
            android:name=".Coordinates_View_Activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="TreeSapV2New" />
        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="TreeSapV2New" />
        <activity
            android:name=".Add_Tree_Activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="TreeSapV2New" />
        <activity
            android:name=".Maps_Activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="TreeSapV2New" />
        <activity
            android:name=".QR_Code_Activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="TreeSapV2New" />
        <activity
            android:name=".display.AddNotesActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="TreeSapV2New" />
        <activity
            android:name=".Tree_Info_First"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="TreeSapV2New" />
        <activity
            android:name=".Tree_Pic_Activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="TreeSapV2New" />
        <activity
            android:name=".Pie_Chart_Activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="TreeSapV2New" />
        <activity
            android:name=".Tree_Bark_Activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="TreeSapV2New" />
        <activity
            android:name=".Tree_Leaf_Activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="TreeSapV2New" />
        <activity
            android:name=".Tree_Other_Info_Activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="TreeSapV2New" />
        <activity
            android:name=".Login_Activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="TreeSapV2New"/>
        <activity
            android:name=".CuratorApproveActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="TreeSapV2New"/>
        <activity
            android:name=".Curator_Swipe_Activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="TreeSapV2New"/>
        <activity
            android:name=".GalleryActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="TreeSapV2New"/>
        <activity
            android:name=".changeUsername"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="TreeSapV2New"/>
        <activity
            android:name=".changePassword"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="TreeSapV2New"/>
        <activity
            android:name=".MoreInformation"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label=".TreeSapV2New"/>
        <activity
            android:name=".AddCurator"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label=".TreeSapV2New"/>
        <activity
            android:name=".Tree_Info_First_NearbyTree"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label=".TreeSapV2New"/>
        <activity
            android:name=".Pie_Chart_Activity_NearbyTree"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label=".TreeSapV2New"/>
        <activity
            android:name=".Cereal_Box_Activity_NearbyTree"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label=".TreeSapV2New"/>
        <activity
            android:name=".NotificationsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="TreeSapV2New"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".view.MapsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_maps" />
        <activity android:name=".view.Settings" />

        <activity
            android:name=".CuratorActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="TreeSapV2new"/>
        <activity
            android:name=".view.CuratorMessage"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="TreeSapV2New" />
        <activity
            android:name=".FullScreenViewPager"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="TreeSapV2New" />

    </application>

</manifest>